<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="igra.paket.coach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.Coach">
        <activity android:name=".view.GlavniActivity" />
        <activity android:name=".view.BiranjeKlubaActivity" />
        <activity android:name=".view.ObjasnjenjeActivity" />
        <activity android:name=".view.PredMecActivity" />
        <activity android:name=".view.ZamenaIgracaActivity" />
        <activity android:name=".view.TransferActivity" />
        <activity android:name=".view.UvodActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>